# **Курс "Програмування на мові Python"**

##### Викладачі:
##### Борисенко Павло Борисович
##### Щьоголєв Максим Олегович

## **Практичне зайняття №9**

### Тема: "Лямбда-функції. Функції вищих порядків"

### **Завдання 1 (1 бал)**

Керівництво будівельної компанії вирішило підняти заробітні плати всім своїм працівникам на 30%. В залежності від спеціалізації та стажу працівники мають різну заробітну плату. Для підготовки звіту необхідно розрахувати нову заробітну плату для працівників компанії, а також суму індексації.

Написати програму, яка буде генерувати таблицю для цього звіту. Початкова заробітна плата працівників подана у списку salary_list (у тисячах гривень). 

1. Для підрахунку невідомих значень повинні використовуватись вбудовані функції вищих порядків.

2. Зарплата після індексації та сума індексації для працівників різних категорій повинні зберігатись у двох окремих списках. Порядок значень у кожному з нових списків повинен відповідати порядку значень у списку salary_list.

3. Кожне підраховане числове значення має бути округлене до сотих.

4. Дані повинні виводитись у вигляді:

**Salary table:**

**7.3 9.49 2.19**

**8.5 11.05 2.55**

**...**

salary_list = [[7.3, 8.5, 11, 12.7, 15.2, 21.12, 27.35]]

In [1]:
salary_list = [7.3, 8.5, 11, 12.7, 15.2, 21.12, 27.35]
index = list(map(lambda i: (i/100)*30,salary_list))
index = list(map(lambda i: round(i,1),index))
new_salary = list(map(lambda x,y:x + y,salary_list,index))
new_salary = list(map(lambda i: round(i,2),new_salary))
print("Salary table:")
print(' '.join(map(str,salary_list)))
print(' '.join(map(str,index)))
print(' '.join(map(str,new_salary)))

Salary table:
7.3 8.5 11 12.7 15.2 21.12 27.35
2.2 2.6 3.3 3.8 4.6 6.3 8.2
9.5 11.1 14.3 16.5 19.8 27.42 35.55

### **Завдання 2 (2 бали)**

Зазвичай рік має 365 днів. Однак у високосні роки додається ще один день - 29 лютого. Правила визначення високосного року такі:

- Будь-який рік, що ділиться на 400 - високосний.

- З тих років, що залишились, будь-який рік, що ділиться на 100 - **не** високосний.

- З тих років, що залишились, будь-який рік, що ділиться на 4 - високосний.

- Усі інші роки, що залишились - **не** високосні.

1) Створіть функцію, в якій за допомогою вбудованих функцій вищих порядків будуть визначатися високосні роки серед перелічених років у списку years. Створена функція має повертати список високосних років.

2) Створіть функцію вищих порядків, яка прийматиме на вхід попередню функцію та визначатиме кількість днів у місяці. Також функція повинна приймати на вхід ще 2 параметри: ціле число від 1 до 12 (місяць) та рік, як ціле чотирицифрове число. Ці значення корисувач має вводити з клавіатури. Перевірку введених даних слід виконувати поза межами функцій.

In [1]:
import numpy as np

monthes_days = {1:31,2:28,3:31,4:30,5:30,6:31,7:31,8:31,9:30,10:31,12:31}
monthes_days_V = {1:31,2:29,3:31,4:30,5:30,6:31,7:31,8:31,9:30,10:31,12:31}

def count(year, monthe, years,years_all):
    if year in years:
        print("Days:",monthes_days_V[monthe])
    elif (year not in years) and (year in years_all):
        print("Days:",monthes_days[monthe])

years = np.arange(1900, 2020+1, 1)
years_all = years
years_400 = list(filter(lambda i: i%400 == 0,years ))
years = list(filter(lambda i: i%100 != 0,years))
years = list(filter(lambda i: i%4 == 0,years))
years.extend(years_400)
years.sort()

print(' '.join(map(str,years)))
while True:
    try:
        year = int(input("Year:"))
        monthe = int(input("Monthe:"))
        while (year not in years_all) or (monthe not in [1,2,3,4,5,6,7,8,9,10,11,12]):
            print('incorrect value')
            year = int(input("Year:"))
            monthe = int(input("Monthe:"))
    except ValueError:
        print('incorrect type')
        continue
    else: break

count(year,monthe,years,years_all)

1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020
Days: 29